[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/opencv"]
	path = vendor/opencv
	url = https://github.com/opencv/opencv.git
[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "vendor/kissfft"]
	path = vendor/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "vendor/restclient-cpp"]
	path = vendor/restclient-cpp
	url = https://github.com/mrtazz/restclient-cpp.git
